<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    
    <!-- <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="264" height="78"></a>
            <a class="logo logo-text" href="/"><h2>Jake Olsen Design</h2></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="credit">
        <span>Built by</span>
        <a href="/" target="_blank" rel="noopener">Jake Olsen</a>
        <span class="copyright">
            Copyright {% year %} - Present | </span>
        <span>
            <a href="/contact" target="_blank" rel="noopener">Email Me</a> |</span>
        <span>
            <a href="tel:5038078834" target="_blank" rel="noopener">Call Me</a></span>
    </div>
</footer>
