{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/project.css">

    <script defer src="/assets/js/project.js"></script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            {% if title %}"headline": "{{ title }}",{% endif %}
            {% if image %}
                "image": ["{{ image }}"],
            {% endif %}
            {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
            {% if client.name %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ client.name }}"
                },
            {% endif %}
            {% if author %}
                "author": [
                    {
                        "@type": "Person",
                        "name": "{{ author }}"
                    }
                ],
            {% endif %}
            {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if tags %}"articleSection": "{{ tags }}"{% endif %}
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section> -->

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="project-container main-content-wrapper {{ page.fileSlug }}">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="project-article">
                <!-- <div class="bgimage" style="background-image:url('{{ bg }}')"></div> -->
                <section id="project-content">

                    <!--Project Template Start-->
                    
                    <div class="intro-container">
                        <div id="introContent" class="intro-content two-column-container">
                            <div class="title">
                                <h1 class="project-h1">{{ title }}</h1>
                                <p class="description">{{ description }}</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="project-details">
                                <div><h6>Role:</h6><p>{{ role }}</p></div>

                                <div><h6>Services:</h6><p>{{ services }}</p></div>

                                <div class="collab">
                                    <h6>Collaborated With:</h6>
                                    {% for item in credits %}
                                        <p>{{ item.credit }}</p>
                                    {% endfor %}
                                </div>

                                <div><h6>Tools:</h6><p>{{ tools }}</p></div>
                                
                                <!-- <div class="services">{{ services }}</div> -->
                            </div>
                            <!-- <div class="two-column-container"></div>
                                
                            </div> -->
                            <!-- <div class="links">
                                <p>Gallery</p>
                                <p>Case Study</p>
                            </div> -->
                            <!-- <img src="{{ descriptionimage }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/> -->
                        </div>
                        <div id="stickyContainer" class="sticky-container ffw">
                            <div class="intro-image" style="background-image:url('{{ bg }}')">
                                <img class="project-logo" src="{{ logo }}" alt="{{ imageAlt | default('Project Logo') }}">
                            </div>
                            <div class="blur opacity-scroll"></div>
                        </div>
                    </div>
                    
                    <div class="content-wrapper">

                        <div id="contentColumns" class="content-column-container">

                            <div class="case-study-wrapper">

                                <div class="two-column-container">

                                    <div class="content-container">
                                         <div class="overview">
                                            <h2>Overview</h2>
                                            <p>{{ overview }}</p>
                                        </div>
                                
                                        <div id="caseStudyToggle"><h2 class="down-arrow">Case Study</h2></div>

                                        <div id="caseStudy" class="case-study">
                                            <div class="content">
                                                {{ content | safe }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>

                            <div class="project-gallery">

                                {% if videos and videos | length > 0 %}
                                    <div class="video-container">
                                        {% for url in videos %}
                                        <div class="video-embed">
                                            <iframe
                                            src="{{ url }}"
                                            frameborder="0"
                                            allowfullscreen
                                            loading="lazy"
                                            title="Project Video {{ loop.index }}"
                                            ></iframe>
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if categories and 'branding' in categories %}
                                <h2>Branding & Design</h2>
                                
                                    {% if brand_process and brand_process | length > 0 %}
                                        <div class="brand-process-container lightbox-js">
                                            <h3>Moodboards - Process</h3>
                                        
                                                <div class="brand-process">
                                                    {% for item in brand_process %}
                                                        <img class="lightbox-trigger" src="{{ item.image | url }}" alt="{{ item.alt | default('Project Image') }}">
                                                    {% endfor %}
                                                </div>  
                                        </div>
                                    {% endif %}

                                {% endif %}

                                <div class="project-images-container">
                                    {% for item in project_images %}
                                        <img src="{{ item.image | url }}" alt="{{ item.alt | default('Project Image') }}">
                                    {% endfor %}
                                </div>

                                {% if categories and 'web' in categories %}

                                    <h2>Web Design & Development</h2>
                                    <div class="website-url"><a href="{{ weburl }}" target="_blank">{{ weburl }}</a></div>

                                    {% if web_process and web_process | length > 0 %}
                                        <div class="web-process-container lightbox-js">
                                            <h3>Mockups</h3>
                                                <div class="web-process">
                                                    {% for item in web_process %}
                                                        <img class="lightbox-trigger" src="{{ item.image | url }}" alt="{{ item.alt | default('Project Image') }}">
                                                    {% endfor %}
                                                </div>
                                        </div>
                                    {% endif %}

                                    <div class="web-preview-container">

                                        {% if webpreview %}
                                            <div class="web-preview">
                                                <p><i>Scroll to preview</i></p>
                                                <img src="{{ webpreview }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>
                                            </div>
                                        {% endif %}

                                        {% if mobilepreview %}
                                            <div class="mobile-preview">
                                                <p><i>Scroll to preview</i></p>
                                                <img src="{{ mobilepreview }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>
                                            </div>
                                        {% endif %}

                                    </div>

                                {% endif %}

                            </div>

                        </div>

                        <img class="ffw fwimage" src="{{ fi }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>

                    </div>

                </section>
            </article>

            <div class="lightbox" id="lightbox">
                <img id="lightbox-img" src="" alt="">
            </div>

          {% set projects = collections.project | reverse %}
          {% set currentIndex = -1 %}
          
          {% for p in projects %}
            {% if p.url == page.url %}
              {% set currentIndex = loop.index0 %}
            {% endif %}
          {% endfor %}
          
          {% set prevPost = projects[currentIndex + 1] %}
          {% set nextPost = projects[currentIndex - 1] %}
          
          
          <div class="project-nav-wrapper">
          
            <div class="project-nav-container">
            
                {% if nextPost %}
                {% set nextMedia = nextPost.data.cover_video or nextPost.data.fti or nextPost.data.image %}
                {% if nextMedia %}
                    <a href="{{ nextPost.url }}" class="project-nav-card next">
                        <div class="project-nav-title">
                            <h2>{{ prevPost.data.title }}</h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="readmore">VIEW PROJECT</a>
                        </div>
                        <div class="project-bg">
                            {% if nextPost.data.cover_video %}
                            <video autoplay muted loop playsinline preload="metadata">
                                <source src="{{ nextPost.data.cover_video }}" type="video/mp4">
                            </video>
                            {% else %}
                            <div class="bg-img" style="background-image:url('{{ bg }}')"></div>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
                {% endif %}

                {% if prevPost %}
                {% set prevMedia = prevPost.data.cover_video or prevPost.data.fti or prevPost.data.image %}
                {% if prevMedia %}
                    <a href="{{ prevPost.url }}" class="project-nav-card prev">
                        <div class="project-nav-title">
                            <h2>{{ prevPost.data.title }}</h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="readmore">VIEW PROJECT</a>
                        </div>

                        <div class="project-bg">
                            {% if prevPost.data.cover_video %}
                            <video autoplay muted loop playsinline preload="metadata">
                                <source src="{{ prevPost.data.cover_video }}" type="video/mp4">
                            </video>
                            {% else %}
                            <div class="bg-img" style="background-image:url('{{ prevMedia }}')"></div>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
                {% endif %}
          
            </div>
          </div>
          
        </div>
        <!-- End .main-content -->

    </div>
{% endblock %}