{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/project.css">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            {% if title %}"headline": "{{ title }}",{% endif %}
            {% if image %}
                "image": ["{{ image }}"],
            {% endif %}
            {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
            {% if client.name %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ client.name }}"
                },
            {% endif %}
            {% if author %}
                "author": [
                    {
                        "@type": "Person",
                        "name": "{{ author }}"
                    }
                ],
            {% endif %}
            {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if tags %}"articleSection": "{{ tags }}"{% endif %}
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section> -->

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="project-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="project-article">

                <section id="project-content">

                    <!--Project Template Start-->
                    
                    <div class="intro-container">
                        <div class="two-column-container">
                            <div> <h1 class="project-h1">{{ title }}</h1>
                                <p>{{ services }}</p>
                                <p class="description">{{ description }}</p>
                            </div>
                            <!-- <img src="{{ descriptionimage }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/> -->
                        </div>
                        <div class="sticky-container ffw">
                            <div class="bgimage" style="background-image:url('{{ bg }}')"></div>
                            <div class="blur"></div>
                        </div>
                    </div>

                    <!-- <div class="ffw bgimage" style="background-image:url('{{ bg }}')"></div> -->

                    <img class="ffw fwimage" src="{{ image }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>
                    
                    <div class="overview">
                        <h3 class="title">Overview</h3>
                        <div>{{ overview }}</div>
                    </div>

                    <img class="ffw fwimage" src="{{ pi1 }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>

                    <div class="ffw two-column-container">
                        <img src="{{ pi2 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                        <img src="{{ pi3 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                    </div>
                    
                    <div class="branding">
                        <h2>Branding</h2>
                        <p>{{ branding }}</p>
                    </div>

                    <img class="ffw fwimage" src="{{ b1 }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>

                    <div class="ffw two-column-container">
                        <img src="{{ b2 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                        <img src="{{ b3 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                    </div>

                    <div class="webdesign">
                        <h2>Web Design & Development</h2>
                        <p>{{ webdesign }}</p>
                    </div>

                    <img class="ffw fwimage" src="{{ wd1 }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>

                    <div class="ffw two-column-container">
                        <img src="{{ wd2 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                        <img src="{{ wd3 }}" alt="{{ imageAlt }}" width="100%" height="500" decoding="async"/>
                    </div>

                    <h3>Outcome</h3>
                    <p class="outcome">{{ outcome }}</p>

                    <div class="credits">
                        <span class="subheader">Credits</span>
                            <div class="bg">
                                <p>Role: {{ role }}</p>
                                <p>Team: {{ team }}</p>
                            </div>
                    </div>

                    <img class="ffw fwimage" src="{{ fi }}" alt="{{ imageAlt }}" width="100%" decoding="async"/>

                </section>
            </article>
        </div>
        <!-- End .main-content -->

    </div>
{% endblock %}