---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <!-- <h1 id="home-h">About Me</h1> -->
        <!-- <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture> -->

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <!-- <span class="cs-topper">About Us</span> -->
                <h2 class="cs-title">Jake Olsen</h2>
                <p>I'm Jake, a Portland-based brand and web designer. I work with businesses, designing strategic brands and online solutions built to best serve their customers and communities. I have had an amazing opportunity collaborating with 100+ businesses creating solutions for their unique needs and challenges - from logo + template site packages for family-owned businesses looking to take the next step to multi-medium $1M+ fundraising campaigns to provide healthcare for the underserved. The following projects are some of my favorites and display a breadth of my work.</p>
                <p><a href="tel:5038078834">503-807-8834</a></p>
                <p><a href="mailto:jake@jakemolsen.com" class="cs-button-solid">Email Me</a></p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Jake-portrait-square-transparent.webp" alt="jake" loading="lazy" width="400" height="300">
            </div>
        </div>
    </section>


{% endblock %}