---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <!-- <h1 id="home-h">About Me</h1> -->
        <!-- <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture> -->

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <!-- <span class="cs-topper">About Us</span> -->
                <h2 class="cs-title">Jake Olsen</h2>
                <p class="subtitle">Brand & Web Designer in Portland, OR</p>
                <p>I design strategic brands and websites for businesses that need strong positioning and custom web solutions that scale with growth. I enjoy partnering with those excited to provide their community with helpful services and products.</p>
                <h3>Skills</h3>
                <ul>
                    <li><strong>Core Expertise:</strong> Brand Identity, UI/UX Design, Custom Web Development (WordPress, PHP, JS).</li>
                    <li><strong>Specialization:</strong> Designing a logo for the local painter to building a brand for a pair of thought-leader with millions of subscribers. Building a brochure site for a growing law firm to a custom e-commerce solution for a lean team providing a unique service to over $400k/year.</li>
                    <li><strong>Leadership:</strong> Current Lead Designer at Edge One Media; leading client discovery, delivering projects, and team mentorship.</li>
                </ul>

                <h3>About Me</h3>
                <p>I believe in life-long learning; adapting to whatever is necessary to complete a project, refining my workflow, keeping up with effective industry news/tools (AI the being huge player right now), and sharing useful knowledge along the way. My approach is rooted in collaboration, asking questions, and delivering thoughtful solutions based on client desires. With clear goals, I explore multiple approaches to deliver efficient, budget-conscious solutions.</p>
                <p>My hobbies include playing basketball, visiting new restaurants, Magic the Gathering, and spending time with friends and family.</p>
                
                <p><a href="mailto:jake@jakemolsen.com" class="button">Email Me</a></p>
                <p><a href="tel:5038078834" class="button">Give Me A Call</a></p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Jake-portrait-square-transparent.webp" alt="jake" loading="lazy">
            </div>
        </div>
    </section>


{% endblock %}