---
title: 'Jake Olsen Portfolio | Branding & Web Design | Portland, OR'
description: 'Branding & Web Design'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/axp1fsb.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Special+Gothic:wght@400..700&display=swap" rel="stylesheet">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% if page.url == "/" %}
<script src="/assets/js/cursor-preview.js" defer></script>
{% endif %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <h1 id="home-h">Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section> -->

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="home blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Projects                -->
            <!-- ============================================ -->
            
            <div class="intro-container">
                <!-- <div id="profile"><img src="/assets/images/Jake-portrait-square-transparent.webp"></div> -->
                <div>
                    <p>Hi, I'm <a href="/about" class="pfp-h img-hover" data-img="/assets/images/Jake-portrait-square-transparent.webp">Jake!</a> Designer for Portland-based marketing agency <a href="https://edge-one.com" class="eom img-hover" data-img="/assets/svgs/EOM-1.svg">Edge One Media</a>, designing strategic brands and website solutions built to best serve their customers and communities. The following projects are some of my favorites. <br><a href="/about/" class="button">More About Me</a></p>

                    <div id="cursor-preview" aria-hidden="true">
                        <img alt="" />
                    </div>
                </div>
            </div>

            <!-- <div class="intro">
                <div id="profile-pic" class="profile"><img src="/assets/images/Jake-portrait-square-2.webp"></div>
                <div class="chat">
                    <p id="typewriter">Hi I'm Jake, lead designer for Portland-based marketing agency <a href="https://edge-one.com" style="color:#c6da34;">Edge One Media</a>, designing strategic brands and online solutions built to best serve their customers and communities. The following projects are some of my favorites, enjoy! <a href="/about/">More About Me</a></p>
                </div>
            </div> -->

            <!-- <div class="intro chat-wrapper">
                <div class="chat-toggle">
                    <div id="profile-pic" class="profile">
                        <img src="/assets/images/Jake-portrait-square-2.webp" alt="Jake">
                    </div>
                    <div class="close-btn">×</div>
                </div>

                <div class="chat">
                    <p id="typewriter">Hi I'm Jake, lead designer for Portland-based marketing agency <a href="https://edge-one.com" style="color:#c6da34;">Edge One Media</a>, designing strategic brands and online solutions built to best serve their customers and communities. The following projects are some of my favorites, enjoy! <a href="/about/">More About Me</a></p>
                </div>
            </div> -->

            {% if collections.project | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
            <article class="recent-articles">
                {%- for post in collections.project | reverse -%}
                        <div class="project-container reveal">

                            <div class="title-container">
                                <div class="content-container">
                                    <a href="{{ post.url }}"><h2 class="blog-h1">
                                        {{ post.data.title }}
                                    </h2></a>
                                    <p class="blog-desc">
                                        {{ post.data.description }}
                                    </p>
                                    <a href="{{ post.url }}" class="readmore">VIEW PROJECT<a>
                                </div>
                            </div>

                                {% set fti = post.data.fti 
                                    or post.data.image 
                                    or post.data.bg 
                                    or post.data.fi 
                                %}
                                
                                {% set media_type = post.data.media_type %}
                                {% set cover_video = post.data.cover_video %}
                                
                                {% if media_type == "Video" and cover_video %}
                                    <div class="blog-mainMedia intro-image">
                                        <a href="{{ post.url }}">
                                            <video autoplay muted loop playsinline preload="metadata">
                                                <source src="{{ cover_video }}" type="video/mp4">
                                            </video>
                                        </a>
                                    </div>
                                
                                {% else %}
                                    <a href="{{ post.url }}" class="blog-mainImage intro-image" 
                                       style="background-image:url('{{ fti }}')">
                                    </a>
                                {% endif %}
                                

                            </div>
                {%- endfor -%}
            </article>
            {% endif %}


<!-- NEW LAYOUT -->
<!-- <section class="portfolio-roll-container">
  
  {% if collections.project | length == 0 %}
    <div class="no-posts"><h1>No Recent Posts</h1></div>
  {% else %}
    
    {%- for post in collections.project | reverse -%}
      
      <article class="project-card-sticky">
        
        <div class="card-content">
          <div class="content-inner">
            <h2 class="blog-h1">{{ post.data.title }}</h2>
            <p class="blog-desc">{{ post.data.description }}</p>
            
            <a href="{{ post.url }}" class="readmore-btn">VIEW PROJECT</a>
          </div>
        </div>

        <div class="card-visuals">
            <div class="visual-base" style="background-image: url('{{ post.data.image }}');"></div>

            <a href="{{ post.url }}" class="visual-overlay-wrapper">
                {% set media_type = post.data.media_type | default('') %}
                {% set fti = post.data.fti | default(post.data.image) %}
                {% set cover_video = post.data.cover_video %}

                {# Auto-detect logic #}
                {% if not media_type %}
                    {% if cover_video %}{% set media_type = 'Video' %}
                    {% elif fti %}{% set media_type = 'Image' %}{% endif %}
                {% endif %}

                {% if media_type == 'Video' and cover_video %}
                    <video class="overlay-media" autoplay muted loop playsinline preload="metadata">
                        <source src="{{ cover_video }}" type="video/mp4">
                    </video>
                {% else %}
                    <img src="{{ fti }}" alt="{{ post.data.imageAlt }}" class="overlay-media">
                {% endif %}
            </a>
        </div>

      </article>
    {%- endfor -%}

  {% endif %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script> -->


        </div>
<!-- <div id="tooltip" class="tooltip"></div> -->
    </div>
{% endblock %}