---
title: 'Jake Olsen Portfolio | Branding & Web Design | Portland, OR'
description: 'Branding & Web Design'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/axp1fsb.css">
    <link rel="stylesheet" href="/assets/css/blog.css">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <h1 id="home-h">Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section> -->

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Projects                -->
            <!-- ============================================ -->
            <div class="intro">
                <div class="profile"><img src="/assets/images/Jake-portrait-square-2.webp"></div>
                <div class="chat">
                    <!-- <h2>I'm Jake, a Portland-based brand and web designer. I work with businesses, designing strategic brands and online solutions built to best serve their customers and communities. I have had an amazing opportunity collaborating with 100+ businesses creating solutions for their unique needs and challenges - from logo + template site packages for family-owned businesses looking to take the next step to multi-medium $1M+ fundraising campaigns to provide healthcare for the underserved. The following projects are some of my favorites and display a breadth of my work.</h2> -->
                    <p id="typewriter">Hi I'm Jake, lead designer for Portland-based marketing agency <a href="https://edge-one.com" style="color:#c6da34;">Edge One Media</a>, designing strategic brands and online solutions built to best serve their customers and communities. The following projects are some of my favorites, enjoy! <a href="/about/">More About Me</a></p>
                </div>
            </div>

            <script>
                function typeWriterByWord(elementId, speed = 400) {
                    const target = document.getElementById(elementId);
                    const container = target.parentElement; // Assuming it's inside the scrollable div
                    const text = target.innerText.trim();
                    const words = text.split(' ');
                    target.innerHTML = '';
                    let index = 0;

                    function addWord() {
                        if (index < words.length) {
                            target.innerHTML += (index === 0 ? '' : ' ') + words[index];
                            index++;

                            // Scroll to bottom of the container
                            container.scrollTop = container.scrollHeight;

                            setTimeout(addWord, speed);
                        }
                    }

                    addWord();
            }

            // Usage
            typeWriterByWord('typewriter', 100);
            </script>

            {% if collections.project | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
            <article class="recent-articles">
                {%- for post in collections.project | reverse -%}
                        <a href="{{ post.url }}" class="portfolio-link">
                            <!--Main Article Image-->

                            <div class="blog-mainImage intro-image" style="background-image:url('{{ post.data.bg }}')">
                                <img class="project-logo" src="{{ post.data.logo }}" alt="{{ post.data.imageAlt }}">
                            </div>

                            <!-- <picture class="blog-mainImage">
                                <img
                                src="{{ post.data.image }}"
                                alt="{{ post.data.imageAlt }}"
                                width="795"
                                height="400"
                                decoding="async"/>
                            </picture> -->
                            <!--Article Info-->
                            <div class="article-group">
                                <h2 class="blog-h1">
                                    {{ post.data.title }}
                                </h2>
                                <p class="blog-desc">
                                    {{ post.data.description }}
                                </p>
                                <!-- <a href="{{ post.url }}" class="blog-link">Continue Reading</a> -->
                        </a>
                {%- endfor -%}
            </article>
            {% endif %}
        </div>

    </div>
{% endblock %}